{app, [redink_project]}.
{erl_opts, [
           ]}.

{cover_enabled, true}.
{clean_files, ["./deps/*/ebin/*.beam", "./app/*/ebin/*.beam", "ebin/*.beam", "priv/log/*"]}.

{deps_dir, ["deps"]}.
{sub_dirs, ["deps", "apps/redink_project", "rel"]}.

{deps, [
       {lager,".*",{git,"git://github.com/basho/lager.git",{branch,"master"}}}
       , {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
       , {recon, ".*", {git, "https://github.com/ferd/recon.git", {branch, "master"}}}
]}.
